#userList{
   display: none;
}

.area-titulos{
    font-size: 14px;
    padding: 4px;
    border: 1px solid grey;
    
}

.area-comandos{
    font-size: 14px;
    margin: 0;
    margin-top: 3px;
    
}

#userList{
    font-size: 12px;
    
}

.borda{
    border: 1px solid gray;
}

.area-valores{
    font-size: 12px;
}

.comandos{
    margin: 25px;
    margin-top: 0;
   
}




#areaUpdate{
    display: none;
}
